<style>
    .warning {
        /* border: 2px solid #c00000; */
        border-radius: 10px;
        padding: 0.1em;
        background-color: #dae3f3;
        /* margin-left: 1.5em; */
        margin-top: 1em;
        /* margin-right: 1.5em; */
    }

    .warning-text {
        color: black;
        margin-top: -1.5em;
        margin-bottom: -0.8em;
        margin-left: 1em;
        margin-right: 1em;
        /* font-weight: bold; */
        text-align: justify;
    }

    .warning-title {
        color: #4472c4;
        margin-top: 0.5em;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
</style>